.main-content {
  position: absolute;
  top: 100vh;
  width: 100%;
  color: #fafafa;
}

body {
  background: url("../img/output-minres.jpg") fixed;
  background-size: cover;
}

@media all and (min-width: 960px) {
  body {
    background-image: url("../img/output-960.jpg");
  }
}

@media all and (min-width: 1280px) {
  body {
    background-image: url("../img/output.jpg");
  }
}

a {
  font-family: sans-serif;
}

a:visited {
  color: #e64a19;
}
