.main-content {
    position: absolute;
    top: 100vh;
    width: 100%;
    color: #fafafa;
}

body {
    background: url('../img/MainBG_minres.png') fixed;
    background-size: cover;
}

@media all and (min-width: 960px) {
    body {
        background-image: url('../../img/MainBG_960.png');
    }
}

@media all and (min-width: 1280px) {
    body {
        background-image: url('../../img/MainBG_1280.png');
    }
}

@media all and (min-width: 1600px) {
    body {
        background-image: url('../../img/MainBG_maxres.png');
    }
}

a {
    font-family: sans-serif;
}

a:visited {
    color: #E64A19;
}
